
	<!--Promotion Bar-->
	<div class="notification-bar mobilehide">
    	<a href="#" class="notification-bar__message">20% off your very first purchase, use promo code: New Customer</a>
        <span class="close-announcement">×</span>
    </div>
    <!--End Promotion Bar-->

    <!--End Search Form Drawer-->
    <!--Top Header-->
    <div class="top-header">
        <div class="container-fluid">
            <div class="row">
            	<div class="col-10 col-sm-8 col-md-5 col-lg-4">
                    <p class="phone-no"><i class="anm anm-phone-s"></i> +201091026688</p>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                	<div class="text-center"><p class="top-header_middle-text"> DMS Demo </p></div>
                </div>
                <div class="col-2 col-sm-4 col-md-3 col-lg-4 text-right">
                	<span class="user-menu d-block d-lg-none"><i class="anm anm-user-al" aria-hidden="true"></i></span>
                    <ul class="customer-links list-inline">
                        <li><a [routerLink]="['/authentication/login']" *ngIf="!isLogedIn" >Login</a></li>
                        <li><a [routerLink]="['/authentication/register']"  *ngIf="!isLogedIn">Create Account</a></li>
                        <li><a [routerLink]="['']" (click)="logout()" *ngIf="isLogedIn">Log out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--End Top Header-->
    <!--Header-->
    <div class="header-wrap animated d-flex border-bottom">
    	<div class="container-fluid">        
            <div class="row align-items-center">
            	<!--Desktop Logo-->
                <div  style="width: 164px;">
                    <a href="index.html">
                    	<img src="../../../../assets//images/DMSLogo.png" alt="DMS Demo" title="DMS Demo" />
                    </a>
                </div>
                <!--End Desktop Logo-->
                <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                	<div class="d-block d-lg-none">
                        <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                        	<i class="icon anm anm-times-l"></i>
                            <i class="anm anm-bars-r"></i>
                        </button>
                    </div>
                	<!--Desktop Menu-->
                	<nav class="grid__item" id="AccessibleNav"><!-- for mobile -->
                        <ul id="siteNav" class="site-nav medium center hidearrow">
                            <li class="lvl1 parent megamenu"><a [routerLink]="['']">Home <i class="anm anm-angle-down-l"></i></a>
                            </li>
                            <li class="lvl1 parent megamenu" *ngIf="isAdmin"><a [routerLink]="['/order']">Orders <i class="anm anm-angle-down-l"></i></a>
                            </li>
                      </ul>
                    </nav>
                    <!--End Desktop Menu-->
                </div>
                <!--Mobile Logo-->

        	</div>
        </div>
    </div>


