/* You can add global styles to this file, and also import other style files */

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

@import '~ngx-toastr/toastr';



/* *** Validation span ** */
.invalid-feedback {
    display: block !important;
}

.valid-feedback {
    display: block !important;
}

.is-invalid{
border-color: #dc3545 !important;
}